@page "/curriculo"

<PageTitle>Curriculo</PageTitle>


<div class="container">
  <div class="imagem">
    <img src="img/foto.jpg" alt="Foto de Perfil" />
  </div>

  <div class="informacoes">
    <h1>Sobre mim!</h1>
    <p class="p1">Nome:Keynner Davi Ferreira Savi</p>
    <p class="p2">Email:englishkeynner@gmail.com</p>
  </div>

 <section class="formacao">
  <h2>Formação Acadêmica / Titulação</h2>

  <div class="item-formacao">
    <p><strong>2023</strong></p>
    <p>Ensino Médio (2º grau)</p>
    <p>Instituto Federal de Educação, Ciência e Tecnologia de Rondônia (IFRO), Porto Velho, Brasil</p>
  </div>

  <div class="item-formacao">
    <p><strong>2019 - 2022</strong></p>
    <p>Ensino Fundamental (1º grau)</p>
    <p>Edilce dos Santos Freitas, EEEFM, Brasil</p>
    <p><em>Ano de obtenção: 2022</em></p>
  </div>
 </section>

</div>


@code {

}
