@page "/curriculo"

<PageTitle>Curriculo</PageTitle>


<div class="container">

  
    <section class="perfil">

       <div class="imagem">

           <img src="img/foto.jpg" alt="Foto de Perfil" />

       </div>
      
     
    </section>

    <div class="sobre">
        <h5>Nome:</h5>
        <p>Keynner Davi Ferreira Savi</p> <br />
        <h5>Email:</h5>
        <p>englishkeynner@gmail.com</p>
 
    </div>
 
 
        <section class="formacao">
            <h2>Formação Acadêmica / Titulação</h2>

            <div class="item-formacao">
                <p><strong>2023</strong></p>
                <p>Ensino Médio (2º grau)</p>
                <p>Instituto Federal de Educação, Ciência e Tecnologia de Rondônia (IFRO), Porto Velho, Brasil</p>
            </div>

            <div class="item-formacao">
                <p><strong>2019 - 2022</strong></p>
                <p>Ensino Fundamental (1º grau)</p>
                <p>Edilce dos Santos Freitas, EEEFM, Brasil</p>
                <p><em>Ano de obtenção: 2022</em></p>
            </div>
        </section>
 
 

</div>


@code {

}
