@page "/sobre"

<PageTitle>Sobre</PageTitle>

<div class="titulo">

    <h3>SOBRE O PROJETO</h3>

</div>

<div class="descricao">

    <p>
        Um sistema focado em ajudar seu restaurante a automatizar e gerenciar as suas entregas e seu entregador de maneira simples e prática. Feito em C#, HTML, CSS e Blazor.
        Para acessar o sistema é necessário se cadastrar com login e senha, após isso terá duas opções, Entregador e Restaurante.

        **Entregador**: O usuário poderá se registrar como entregador, nesse caso será necessário colocar suas informações pessoais, após isso, informará as suas formas de recebimento.

        **Restaurante:** O usuário poderá cadastrar N restaurantes, mas para isso ele terá que informar seus dados pessoais e os dados do estabelecimento.
        Com a conclusão do cadastro do estabelecimento, poderá cadastrar um cardápio para o restaurante onde informará os produtos que o estabelecimento vende.
        O cardápio é uma opção que facilita a função de pedir por entrega, onde o estabelecimento fará uma solicitação de
        entrega para os entregadores da região e para isso se deve informar o que será transportado para o entregador.

    </p>

</div>





@code {

}
