.container {
    display: flex;
    flex-wrap: wrap; /* Quebra em telas pequenas */
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* Estilo da imagem */
.imagem img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Bloco de informações */
.informacoes {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.p2 {
    border: 2px solid black;
}
.p1 {
    border: 2px solid black;
}
